<div class="login-container">
    <form  class="login-form" [formGroup]="loginForm">
        <h2>Login</h2>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" 
            placeholder="Ingresa tu email"
            class="form-control" formControlName="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <div class="password-field">
                <input type="password" name="password" placeholder="Ingresa tu contraseña" id="password" class="form-control" formControlName="password" required>
                <button type="button" class="show-password" (click)="togglePasswordVisibility()"><i>
                    @if (!showPassword) {
                        <img src="assets/icons/eye.svg" alt="">
                    }@else{
                        <img src="assets/icons/eye-off.svg" alt="">
                    }
                </i></button>
            </div>    
            
        </div>
        <div class="button-group">
            <button  (click)="onSubmit()" type="button" class="btn btn-primary">Login</button>
        </div>
    </form>
</div>