<div class="step-container">
    <form [formGroup]="carrerForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group">
            <label for="departmentId">Departamento</label>
            <select name="departmentId" id="departmentId" formControlName="departmentId">
                @if (departments.length > 0) {
                    <option disabled selected>Seleccione un Departamento</option>
                    @for (department of departments; track department.id) {
                        <option value="{{department.id}}">{{department.name}}</option>
                    }
                } @else {
                    <option value="" disabled selected>Departamentos No Encontrados</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Ingrese el nombre de la carrera" formControlName="name">
        </div>
        <div class="form-group">
            <label for="description">Descripcion</label>
            <textarea class="form-control" id="description" placeholder="Ingrese la descripcion de la carrera" formControlName="description"></textarea>
        </div>
        <div class="form-group">
            <label for="totalSemester">Total de Semestres</label>
            <input type="number" class="form-control" id="totalSemester" placeholder="Ingrese el total de semestres" formControlName="totalSemester">
        </div>
        <div class="form-group">
            <label for="state"> Estado</label>
            <select name="state" id="state" formControlName="state">
                <option value="active">Activa</option>
                <option value="inactive">Inactiva</option>
                <option value="close">Cerrada</option>
            </select>
        </div>
        <div class="form-group">
            <label for="creationDate">Fecha de Creacion</label>
            <input type="date" class="form-control" id="creationDate" formControlName="creationDate">
        </div>
        <div class="button-group">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
</div>