*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:root{
    --clr-primary-light: #ffffff;
    --clr-electric-blue: #53F4FF;
    --clr-light-blue: #3885BC;
    --clr-columbia-blue: #CADCE3;
    --clr-midnight-green: #225560;
    --clr-chinese-violet: #83678E;
    --clr-primary-blue: #4390C7; 
    --clr-primary-blue-a10: #94B7C7;
    --clr-primary-azure-a10: #dCD8e9;
    --clr-primary-azure-a20: #b7aed1;
    --clr-primary-azure-a30: #9485b9;
    --clr-primary-azure-a40: #725e9f;
    --clr-primary-azure-a50: #4e3e70;
    --clr-primary-azure-a60: #613d3d;
    --clr-primary-azure-a70: #140e20;
    --clr-primary-dark: #000000;
    --clr-primary-green-a10: #00ff51;
    --clr-primary-green-a20: #00ff51;
    --clr-primary-green-a30: #00ff51;
    --clr-primary-green-a40: #9b2929;
    --clr-primary-green-a50: #284b33;
    --clr-primary-green-a60: #657bdb;
    --clr-primary-green-a70: #070a14;
    --clr-primary-gray-a10: #dadadc;
    --clr-primary-gray-a20: #b3b2b6;
    --clr-primary-gray-a30: #8d8c92;
    --clr-primary-gray-a40: #69686f;
    --clr-primary-gray-a50: #47464c;
    --clr-primary-gray-a60: #27272b;
    --clr-primary-gray-a70: #111113;
    --clr-primary-a100: #000000;
    --secundary-orange-warning: #f39c12;
    --secundary-red-error: #E74C3C;
}
body{
    background: #DFFDFF;
    background-repeat:repeat-y;
    font-family: 'Roboto Slab', serif;
    background-attachment: fixed;
}