<main>
    <ul>
        @for (option of options; track option.title) {
            <li>
            <details>
                <summary><i><img src="assets/icons/{{ option.icon }}" alt="{{option.title}}"></i> <h4>
                    {{ option.title }}
                </h4> </summary>
                @if(option.children) {
                    <ul>
                        @for (child of option.children; track child.title) {
                        <li>
                            <a href="" [routerLink]="child.path" class="linked">
                            <i class="material-icons">
                                <img src="assets/icons/{{ child.icon }}" alt="child.title">
                            </i>
                            {{ child.title }}
                            </a>
                        </li>
                    }
                    </ul>
                }
            </details>
            </li>
        }
    </ul>
</main>